    /*variáveis e imports*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');
    
    :root {

        --primary-background: #f2f2f2;
        --second-background: #727272;
        --input-background: #DCDCDC;
        --photo-background: #D4D4D4;
        
        --primary-color: #D6000D;
        --button-color: #D6000D;
        --photo: #D6000D;
        --primary-hover: #D6000D;
        --second-hover: #f2f2f2;


        --white: #fff;
        --black: #000;


    }

    /*Reset*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
    }
    body {
        font-family: 'Roboto', sans-serif;
        font-family: 16px;
        font-weight: 400;
        font-size: 1.6rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    ul,
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    img {
        width: 50%;
        max-width: 100%;
        height: auto;
        display: block;
    }

    
    button,
    input {
        border: 0;
        border-radius: 10px;
    }
    
    button:focus,
    input:focus {
        border: 0;
    }
    /* Page Styles
    /*Menu*/
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        font-size: 24px;
        font-weight: 400;
    }
    .logo {
        float: left;
    }
    
    .logo h1 {
        font-size: 46px;
        font-weight: 700;
        color: var(--primary-color);
        text-align: left;
    } 

    /*Orçamento*/
    .budget {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 15rem;
    }

    .budget img {
        width: 40%;
        height: auto;
    }

    .budget p {
        font-size: 24px;
        font-weight: 700;
        margin-top: 16px;

    }

    .budget p:nth-child(2) {
        color: var(--primary-color);
        font-size: 64px;
        font-weight: 700;
    }

    .budget button {
        width: 300px;
        height: 50px;
        
        background-color: var(--button-color);
        color: var(--white);

        margin-top: 36px;

        font-size: 18px;
        font-weight: 700;
    }


    /*Serviços*/
    .services {
        margin: 15rem;
        font-size: 26px;
        font-weight: 400;
        line-height: 5rem;
    }

    .services-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .services-list ul li .fa-check-circle{
        justify-content: space-between;
        color: var(--primary-color)
    }

    .services .services-team #celular-input{
        background-color: var(--input-background);
        color: var(--black);
        border-radius: 10px;

        width: 300px;
        height: 70px;

        padding-left: 2rem;
        
        font-size: 18px;
    }

    .services .services-team button {
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: 10px;

        width: 300px;
        height: 70px;
        
        font-size: 20px;
        font-weight: 700;

    }

    /*Comentários*/
    .container-comments {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin: 5rem;
        padding: 1rem;

        padding-bottom: 5rem;
    }

    .comments {
        background-color: var(--photo-background);
        display: flex;
        flex-direction: row;

        border-radius: 12px;
        padding: 5rem;
        max-width: 610px;
        max-height: 610px;

    }

    .comments-descriptions h1, 
    .comments-descriptions h3, 
    .comments-descriptions p {
        padding-left: 40px;
        padding-right: 40px;
        text-align: justify;
    }

    .comments-descriptions h1 {
        padding-top: 2rem;
    }

    .photo {
        width: 230px;
        height: 130px;
        border-radius: 100%;
        background-color: var(--primary-color);
    }


    /*Rodapé*/
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: var(--black);
        color: var(--white);
        padding-top: 10rem;
        padding-bottom: 15rem;
    }

    footer span:first-child h1 {
        font-size: 64px;
        font-style: italic;
        font-weight: 700;
    }

    footer span h1 {
        font-size: 34px;
        font-weight: 700;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    footer span p {
        font-size: 20px;
        font-weight: 400;
    }

    footer span address {
        line-height: 4.5rem;
        font-weight: 400;
    }

    footer span address p:last-child {
        text-decoration: underline;
    }

    footer span address a {
        color: var(--white);
    }

    footer span address a:hover {
        color: var(--primary-hover);
    }

    footer span .social-media-icons, footer span .social-media-icons a:visited {
        display: flex;
        justify-content: space-evenly;
        color: var(--primary-color);
    }

    footer span .social-media-icons a:hover {
        color: var(--second-hover)
    }


    